body {
    margin: auto;
    padding: 10px;

    text-align: center;
    
    width: 500px;

    /* font-family: "FreeMono", monospace; */
}


.box {
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;

    align-items: center;
    justify-content: center;

    margin: 1px;
    width: 30px;
    height: 30px;
}



.container {
    margin: auto;
    /* border: 2px solid green; */
    padding: 5px;
}